body{
    display: flex;
}

.contenedor{
    border: 2px solid rgb(32, 20, 204);
    margin: 0 auto;
    width: 50%;
    background: rgba(88, 204, 60, 0.774);
    padding: 10px;
}
.principal{
    background: #fff;
    padding: 10px;
}
.img{
    width: 130px;
    height: 130px;
}
.header{
    display:flex;
}
.nombre{
    margin-left: 35px;
    width: 100%;
}
.titulo{
    border: 2px solid rgb(219, 223, 14);
    color: chocolate;
}